<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<table>
	<% @stations.each do |station| %>
		<tr class="station">
			<td class="line"><%= station["line"] %></td>
			<td class="name"><a href="https://www.google.co.jp/maps/place/<%= station["name"] %>駅"><%= station["name"] %></a></td>
		</tr>
	<% end %>
</table>
</body>
</html>
